$black-primary: #1c1819;
$white: #fff;
$blue-primary: #2a81dd;
$light-cyan: #f0fafd;
$gray: #888b94;
$blue-darkest: #00458a;
$beige: #efe8d8;
$gray-lightest: #d4d4da;
$gray-darkest: #f2f2f3;
$blue--lighter: #d6ecfb;
$payed-blue: #e9f2fb;
$payed-yellow: #fffae7;
$payed-green: #eff8eb;
$red-primary: #f33;
$green: #64bd38;
