.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;

    &__copyright {
        color: $white;

        @include font-set(16px, 24px, 400);

        margin-bottom: 8px;
    }

    &__social-list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }
}
