.radio-size {
    position: absolute;
    z-index: -1;
    opacity: 0;

    & + label {
        font-size: 14px;
        margin-right: 8px;
        padding: 10px 16px;
        position: relative;
        color: $blue-primary;
        border: 1px solid rgba(28, 24, 25, 0.1);
        border-radius: 8px;
        cursor: pointer;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 8px;
            left: 8px;
        }
    }

    &:checked + label {
        background-color: $blue-lighter;
        color: $black-primary;
        border: 1px solid rgba(28, 24, 25, 0);
    }
}
