.product-list {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    row-gap: 20px;
    column-gap: 20px;
    list-style: none;

    &__item {
        display: flex;
        flex-direction: column;
    }
}
