:root {
    --black-primary: #1c1819;
    --white: #fff;
    --blue-primary: #2a81dd;
    --light-cyan: #f0fafd;
    --gray: #888b94;
    --blue-darkest: #00458a;
    --beige: #efe8d8;
    --gray-lightest: #d4d4da;
    --blue--lighter: #d6ecfb;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: var(--black-primary);
}

/* Modal */

.modal {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(28, 24, 25, 0.6);
}

.modal__order {
    max-width: 1039px;
    min-height: 508px;
    padding: 56px;
    border-radius: 16px;
    background-color: var(--white);
    display: grid;
    position: relative;
    grid-template-columns: 330px 1fr;
}

/* Product-images */

.product-images__main {
    margin-bottom: 14px;
}

.product-images__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product-images__item {
    width: 52px;
    height: 52px;
    margin: 2px 4px;
    border-radius: 8px;
    cursor: pointer;
}

.product-images__item--active {
    border: 1px solid var(--blue-primary);
}

/* Info */

.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 24px;
}

.info__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin: 8px 0;
    grid-column: 1 / -1;
}

.info__points {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 6px;
    grid-column: 1 / 3;
}

.info__balance {
    grid-column: 3 / -1;
    grid-row: 2 / 4;
    margin-left: auto;
    padding: 8px 55px 8px 16px;
    min-height: 68px;
    width: 196px;
}

/* Balance */

.balance {
    background-color: var(--light-cyan);
    border-radius: 16px;
    position: relative;
    margin-top: 8px;
}

.balance::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 16px;
    width: 40px;
    height: 40px;
    background-image: url(/src/assets/img/icons/bugs-icon.png);
}

.balance__title {
    font-size: 14px;
    line-height: 24px;
    color: var(--gray);
    margin-bottom: 4px;
}

.balance__total {
    font-size: 16px;
    line-height: 24px;
}

/* Button */

.button {
    background-color: var(--blue-primary);
    border: none;
    border-radius: 8px;
    color: var(--white);
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 2px 4px rgba(28, 24, 25, 0.3);
}

.button--modal-order {
    min-height: 36px;
    width: 134px;
    font-size: 14px;
    grid-column: 1 / 2;
}

/* Form-fieldset */

.form-fieldset {
    border: none;
    margin-bottom: 16px;
}

.form-fieldset__title {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 16px;
}

/* Options */

.options {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.options__item {
    margin-bottom: 26px;
}

/* Radio */

.radio-color {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.radio-color + label {
    font-size: 14px;
    margin-right: 8px;
    padding: 10px 10px 10px 40px;
    position: relative;
    color: var(--blue-primary);
    border: 1px solid rgba(28, 24, 25, 0.1);
    border-radius: 8px;
    cursor: pointer;
}

.radio-color + label::before {
    content: '';
    display: block;
    width: 23px;
    height: 24px;
    position: absolute;
    top: 8px;
    left: 8px;
    border-radius: 4px;
}

.options__item--blue .radio-color + label::before {
    background-color: var(--blue-darkest);
}

.options__item--beige .radio-color + label::before {
    background-color: var(--beige);
}

.options__item--gray .radio-color + label::before {
    background-color: var(--gray-lightest);
}

/* Radio size */

.radio-size {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.radio-size + label {
    font-size: 14px;
    margin-right: 8px;
    padding: 10px 16px;
    position: relative;
    color: var(--blue-primary);
    border: 1px solid rgba(28, 24, 25, 0.1);
    border-radius: 8px;
    cursor: pointer;
}

.options__item:nth-child(2) .radio-size + label {
    padding: 10px 13px;
}

.radio-size + label::before {
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    left: 8px;
}

.radio-size:checked + label,
.radio-color:checked + label {
    background-color: var(--blue--lighter);
    color: var(--black-primary);
    border: 1px solid rgba(28, 24, 25, 0);
}

/* Details */

.details:not(:last-child) {
    margin-bottom: 24px;
}

.details__title {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
}

.details__subtitle {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
}

/* modal close icon */

.modal-close {
    position: absolute;
    cursor: pointer;
    top: 24px;
    right: 24px;
    border: none;
    width: 32px;
    height: 32px;
    background-image: url(../src/assets/img/icons/close-icon.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
}
